<!-- <h1>Rufat Gulabli</h1>
<course></course>
<hr />
<br />
<star [is-Favorite]="post.isFavorite" (change)="onChange($event)"></star>
<br />
<hr /> -->

<!-- <bootstrap-panel>
  <div class="heading">
    <h2>Heading</h2>
  </div>
  <div class="body">
    <p class="lead">Body</p>
  </div>
  <ng-container class="title">{{ title }}</ng-container>
</bootstrap-panel> -->

<!-- 
  <br />
<hr />
<heart
  [isFavorite]="post.isFavorite"
  [checked]="post.count"
  (stateChanged)="stateChanged($event)"
></heart>
<br />
<hr />
<div *ngIf="courses.length > 0; then show; else dontshow"></div>
<ng-template #show>
  <div>
    <h1>Hello World</h1>
  </div>
</ng-template>
<ng-template #dontshow>
  <div>
    <p class="lead">No any list items</p>
  </div>
</ng-template>

 -->

<!-- <div [hidden]="courses.length == 0">
  <h1>Hello World</h1>
</div>
<div [hidden]="courses.length > 0">
  <h2>No any data</h2>
</div> -->

<!-- <ul class="nav nav-pills shadow-none p-3 mb-5 bg-light rounded">
  <li class="nav-item ">
    <a
      class="nav-link"
      [class.active]="viewMode == 'map'"
      (click)="viewMode = 'map'"
      >Map View</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode == 'list'"
      (click)="viewMode = 'list'"
      >List View</a
    >
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div class="shadow-sm p-3 mb-5 bg-white rounded" *ngSwitchCase="'map'">
    Map View Content here...
  </div>
  <div class="shadow-sm p-3 mb-5 bg-white rounded" *ngSwitchCase="'list'">
    List View Content here...
  </div>
  <div class="shadow-sm p-3 mb-5 bg-white rounded" *ngSwitchDefault>
    Other view content...
  </div>
</div> -->

<!-- <button class="btn btn-primary" (click)="load()">Load</button>
<ul>
  <li class="p-1" *ngFor="let item of courses; trackBy: trackByID">
    {{ item.name }} -->

<!-- <span *ngIf="isEven"><i class="far fa-calendar-check"></i></span> -->

<!-- <button class="btn btn-danger" (click)="onDelete(item)">Delete</button>
  </li>
</ul>

<star [is-Favorite]="post.isFavorite" (change)="onChange($event)"></star>
<span>{{ student.address?.city }}</span> -->

<!-- <input type="text" [appInputFormat]="'upper'" /> -->

<!-- <zippy basliq="Shipping Details">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga laboriosam
  expedita esse sit, laudantium nam nemo soluta ipsum laborum nisi vero magni
  consequatur. In dolor fuga illum maiores recusandae nam earum libero, vero
  alias velit magni expedita saepe minima molestiae id, optio quos laudantium
  aperiam excepturi ducimus tenetur modi? Asperiores provident earum quo,
  assumenda magnam eligendi ullam doloremque eveniet dolorum enim velit
  perspiciatis deleniti fugit sed fuga eius quasi ad quam esse, accusantium
  facilis reprehenderit illum impedit eum. Quisquam porro, voluptate officia
  recusandae dolor aut, quaerat accusantium aperiam, quis labore magnam.
  Blanditiis nam qui praesentium necessitatibus consequuntur soluta labore quis
  perspiciatis, nihil temporibus accusantium, fuga eos, aliquam repellendus
  animi. Suscipit saepe laborum quo, iure a debitis corrupti. Excepturi,
  sapiente inventore voluptate reprehenderit soluta at odit. Aut, consectetur
  nemo eius corrupti rerum ex facilis alias omnis fugit nam fuga repellendus
  suscipit eaque magni deleniti, assumenda saepe minus illo sint. Nihil, facere!
</zippy>
<zippy basliq="Billing Details">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut praesentium,
  consectetur modi eveniet nulla alias vel sunt enim commodi libero molestiae
  aperiam dolorem quisquam, dolor magnam minus quae beatae, sequi dolorum
  aspernatur atque ab? Ex, aspernatur perspiciatis reiciendis, commodi placeat
  officiis similique neque praesentium illum iste voluptatem itaque ducimus
  unde.
</zippy> -->

<contact-form></contact-form>
